:root {
    --common-text-color: #333333; 
    --footer-text-color: #CACACA;
    --button-color: #FF9900;
}

* {
    box-sizing: border-box;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
    background: transparent;
    cursor: pointer;
}

body {
    min-width: 1170px;
    margin: 0;
    padding: 0;

    font-family: "Montserrat", "Arial", "Helvettica";
    font-weight: 400;
    font-size: 16px;
    color: var(--common-text-color);
    line-height: 1;
}

.container {
    max-width: 1770px;
    margin: 0 auto;
}

.section-title {
    font-size: 48px;
    line-height: 1;
    font-weight: normal;
}

.main-header {
    box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
}

.main-header-nav {
    display: flex;
    justify-content: flex-start;
    min-height: 100px;
}

.main-header-logo {
    max-width: 224px;
    align-self: center;
}

.main-header-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: -70px;
    margin-left: auto;
}

.main-header-list__item {
    margin-right: 70px;

    font-weight: 600;
    font-size: 18px;
    line-height: 1;
}

.main-header-nav__link {
    display: flex;
    height: 100%;
    align-items: center;
}

.main-header__search {
    margin-left: 70px;
    align-self: center;
}

.main-header-nav__link {
    border-bottom: 2px solid transparent;

    color: var(--common-text-color);
    line-height: 1;

    transition: border-bottom 0.3s;
}

.main-header-nav__link:hover {
    /* border-bottom: 2px solid var(--button-color); */
}

.promo {
    margin-bottom: 104px;
}

.promo-container {
    color: white;

    background: url("/src/img/decor/promo-back.jpg") no-repeat;
}

.promo-content-container {
    width: 52%;
    padding-top: 102px;
    padding-left: 78px;
    padding-bottom: 118px;

    letter-spacing: 0.3px;
}

.main-title {
    margin: 0;
    margin-bottom: 22px;

    font-weight: 800;
    font-size: 70px;
    line-height: 86px;
}

.promo-description {
    margin-bottom: 122px;

    font-size: 23px;
    line-height: 29px;
    font-weight: bold;
}

.promo-button {
    padding: 25px 37.15px;

    font-size: 23px;
    color: white;
    font-weight: bold;
    line-height: 1;

    background-color: var(--button-color);
    transition: box-shadow, 0.3s;
}

.promo-button:hover {
    /* box-shadow: 5px 5px 0px 0px rgba(255, 255, 255, 0.8); */
}

.about-title {
    margin: 0;
    margin-bottom: 28px;

    letter-spacing: 0.3px;
}

.about__discription {
    width: 69.5%;
    margin-bottom: 44px;
    
    font-size: 16px;
    line-height: 32px;
}

.tip {
    width: 16px;
    height: 16px;
    padding-top: 12px;

    background: url("/src/img/content/text-tooltip.svg") no-repeat;
}

.approaches-wrapper {
    display: flex;
    justify-content: flex-start;
    margin-right: -30px;
}

.approaches-picture {
    position: relative;
    margin-right: 30px;

    background: url("/src/img/decor/about-img.jpg") no-repeat;
}

.approaches-picture__content {
    position: absolute;
    bottom: 0;
    left: 0;
}